{% extends 'Du_An/layout.html' %}
{% load static tags %}

{% block title %}Class: {{ classroom.name }} {% endblock %}
{% block style %} <link href="{% static 'Du_An/css/profile.css' %}" rel="stylesheet"> {% endblock %}
{% block script %} <script src="{% static 'Du_An/js/class_profile.js' %}" type="module"></script> {% endblock %}

{% block body %}
    <div class="classDisplay">
        <!--* Display class's basic info-->
        <div class="basicInfo">
            <h1 class="className">{{ classroom.name }}</h1>
            <p class="classSiSo">Si so: {{ class_profile.students.count }}</p>       <!--TODO: Replace the href -->

            <!--* display class's staff committee -->
            <div class="classStaffs">
                <h2 class="classRole">Ban can su lop</h2>
            {% for staff_profile in class_profile.get_class_staff_committee %}
            {% if staff_profile %}

            <p class="classStaffName">Ten: <a href="{% url 'view_student' staff_profile.student.id %}" class="link-info link-offset-2">{{ staff_profile.student.full_name }} </a> </p>
            <p class="classStaffRole">Vai tro: {% get_role_name staff_profile.role %} </p>

            {% endif %}
            {% empty %}
            Lop chua co ban can su
            {% endfor %}
        </div>

            <!--TODO: Display other role (lop pho hoc tap, van the my,...)-->
            <p class="classFormTeacher">Giao vien chu nhiem: 
                {% if class_profile.form_teacher %}
                    <a href="{% url 'view_teacher' class_profile.form_teacher.id %}"> {{ class_profile.form_teacher.full_name }} </a>
                {% else %}
                    Chua co GVCN
                    <form action="{% url 'update_class' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value=" {{ classroom.id }}" name="classroom_id">
                        <button type="submit" class="btn btn-outline-info">Nhận lớp chủ nhiệm</button>
                    </form>
                {% endif %}
            </p>
        </div>
        <!--TODO: hien thi danh sach hoc sinh cua lop, giao vien bo mon, thong tin thi dua(neu co) -->
        <div class="otherInfo">
            <!--TODO: hien thi cac giao vien bo mon -->
            <ul class="nav-classes nav nav-tabs navbar-expand-lg bg-dark pt-3 mt-2">
                <li class="nav-item">
                    <button class="nav-link active" id="studentTab">Students</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link link-secondary" id="teacherTab">Teachers</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link link-secondary" id="details">Details</button>
                </li>
            </ul>
            <div id="infoDisplay">
                <div id="students">
                    {% for profile in class_profile.students.all %}
                    <div class="studentDisplay">
                        <p class="classNBRD">{{ profile.student.full_name }}</p>
                        <p class="classNBRD">Birthday>: {{ profile.student.birthday }} </p>
                        <p class="classNBRD">Role: {% get_role_name profile.role %} </p>
                        <a href="{% url 'view_student' profile.student.id %}" class="btn btn-danger">Details</a>
                    </div>
                    {% empty %}
                    Chua co hoc sinh
                    {% endfor %}
                </div>
                <div id="subjectTeachersDisplay" style="display: none;">
                    {% for teacher in class_profile.get_teachers %}
                    <div class="teacher">
                        <p class="teacherName">Tên: <a href="{% url 'view_teacher' teacher.id %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"> {{ teacher.full_name}} </a></p>
                        <p class="teacherSubject">Dạy môn: {% get_teaching_subjects class_profile teacher%} </p>
                    </div>
                    {% empty %}
                    Chua co giao vien
                    {% endfor %}
                    {% if user.teacher %}
                        {% if user.teacher in class_profile.get_teachers %}
                            <div>
                                <h3>Bạn đã dạy môn: {% get_teaching_subjects class_profile user.teacher %} cho lớp {{ classroom.name }} </h3>
                            </div>
                        {% endif %}
                        
                        <div id="addSubjectTeacherMessageDisplay"></div>
                        <select id="subjectSelect" class="form-select mb-3" data-classid="{{ class_profile.classroom.id }}">
                            <option selected disabled value="">Chọn môn bạn muốn dạy lớp này</option>
                            {% for subject in user.teacher.subject.all %}
                                <option value="{{ subject.id }}"> {{ subject.name }} </option>
                            {% endfor %}
                        </select>
                        <button id="teachClass" class="btn btn-danger">Trở Thành Giáo Viên Bộ Môn Của Lớp Này</button>
                    {% endif %}
                </div>
                <!--TODO: Them thong tin thi dua(neu co)-->
                <div id="classDetails" style="display: none;"></div>
            </div>
        </div>
    </div>
{% endblock %}