{% extends 'Du_An/layout.html' %}
{% load static %}

{% block title %}Class: {{ classroom.name }} {% endblock %}
{% block style %} <link href="{% static 'Du_An/css/profile.css' %}" rel="stylesheet"> {% endblock %}
{% block script %} <script src="{% static 'Du_An/js/class_profile.js' %}"></script> {% endblock %}

{% block body %}
    <div class="classDisplay">
        <!--* Display class's basic info-->
        <div class="basicInfo">
            <h1 class="className">{{ classroom.name }}</h1>
            <p class="classSiSo">Si so: {{ classroom.student_count }}</p>       <!--TODO: Replace the href -->

            <!--* display class's staff committee -->
            <div class="classStaffs">
                <h2>Ban can su lop</h2>
            {% for staff in classroom.get_class_staff_committee %}
            {% if staff %}

            <p class="classStaffName">Ten: <a href="{% url 'view_student' staff.id %}" class="link-info link-offset-2">{{ staff.full_name}} </a> </p>
            <p class="classStaffRole">Vai tro: {{ staff.role }} </p>

            {% endif %}
            {% empty %}
            Lop chua co ban can su
            {% endfor %}
        </div>

            <!--TODO: Display other role (lop pho hoc tap, van the my,...)-->
            <p class="classFormTeacher">Giao vien chu nhiem: 
                {% if classroom.form_teacher %}
                    <a href="{% url 'view_teacher' classroom.form_teacher.id %}"> {{ classroom.form_teacher.full_name }} </a>
                {% else %}
                    Chua co GVCN
                    <form action="{% url 'update_class' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value=" {{ classroom.id }}" name="classroom_id">
                        <button type="submit" class="btn btn-outline-info">Nhận lớp chủ nhiệm</button>
                    </form>
                {% endif %}
            </p>
        </div>
        <!--TODO: hien thi danh sach hoc sinh cua lop, giao vien bo mon, thong tin thi dua(neu co) -->
        <div class="otherInfo">
            <!--TODO: hien thi cac giao vien bo mon -->
            <ul class="nav nav-tabs navbar-expand-lg bg-dark pt-3 mt-2">
                <li class="nav-item">
                    <button class="nav-link active" id="studentTab">Students</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="teacherTab">Teachers</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="details">Details</button>
                </li>
            </ul>
            <div id="infoDisplay">
                <div id="students">
                    {% for student in classroom.students.all %}
                    <div class="studentDisplay">
                        <p>{{ student.full_name }}</p>
                        <p>Birthday: {{ student.birthday }} </p>
                        <p>Role: {{ student.role }}</p>
                        <a href="{% url 'view_student' student.id %}" class="btn btn-outline-primary">Details</a>
                    </div>
                    {% empty %}
                    Chua co hoc sinh
                    {% endfor %}
                </div>
                <div id="subjectTeachersDisplay" style="display: none;">
                    {% for teacher in classroom.get_teachers %}
                    <div class="teacher">
                        <p class="teacherName">Ten: <a href="{% url 'view_teacher' teacher.teacher.id %}" class="nav-link"> {{ teacher.teacher.full_name}} </a></p>
                        <p class="teacherSubject">Day mon: {{ teacher.subject.name }} </p>
                    </div>
                    {% empty %}
                    Chua co giao vien
                    {% endfor %}
                    {% if user.teacher %}
                        {% if user.teacher not in classroom.get_teachers %}
                        <!--TODO: add JS-->
                            <button id="teachClass" class="btn btn-outline-info">Trở thành giáo viên bộ môn của lớp này</button>
                        {% endif %}
                    {% endif %}
                </div>
                <!--TODO: Them thong tin thi dua(neu co)-->
                <div id="classDetails" style="display: none;"></div>
            </div>
        </div>
    </div>
{% endblock %}