{% extends 'Du_An/layout.html' %}

{% block title %}Vnadu: Classes {% endblock %}

{% block body %}
    <div class="classes">
        {% for class in classes %}
            <div class="class">
                <p class="class_name"> {{ class.name }} </p>
                <p class="class_student_count">Si so: {{ class.student_count }} </p>
                <!--TODO: Replace the href (to the teacher's profile page)-->
                {% if class.form_teacher %}
                <a class="nav-link" href="{% url 'view_teacher' class.form_teacher.id %}">Form teacher: {{ class.form_teacher.full_name }} </a>
                {% else %}
                <p>Chưa có giáo viên chủ nhiệm</p>
                {% endif %}
                
                <!--TODO: Replace the href (to the monitor's profile page)-->
                <a class="nav-link" href="#">Monitor: {% if class.monitor %} {{ class.monitor.full_name }} {% else %} Chưa có lớp trưởng {% endif %}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}