{% extends 'Du_An/layout.html' %}
{% load static %}
{% load tags %}

{% block title %}Vnadu: Classes {% endblock %}
{% block style %} <link href="{% static 'Du_An/css/index.css' %}" rel="stylesheet"> {% endblock %}

{% block body %}
    <div class="classes">
        {% for class in classes %}
        {% if class %}
            <div class="class">
                <p class="class_name"> {{ class.class.name }} </p>
                <p class="class_student_count">Sĩ số: {{ class.profile.students.count }} </p>
                <!--TODO: Replace the href (to the teacher's profile page)-->
                {% if class.profile.form_teacher %}
                <p class="formTeacher">
                    Form teacher: <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{% url 'view_teacher' class.profile.form_teacher.id %}">{{ class.profile.form_teacher.full_name }} </a>
                </p>
                {% else %}
                <p class="formTeacher">Chưa có giáo viên chủ nhiệm</p>
                {% endif %}
                
                <!--TODO: Replace the href (to the monitor's profile page)-->
                <p class="monitor">
                    <!--TODO: fix the display of class's monitor-->
                    {% if class.class %}
                        {% autoescape off %}
                            Lớp trưởng: {% get_student_page_link class.class 'monitor' 'link-info link-offset-2 link-opacity-hover-75'  %}
                        {% endautoescape %}
                    {% endif %}
                </p>
                <a href="{% url 'view_class' class.class.id %}" class="btn btn-outline-info">Details</a>
            </div>
        {% else %}
            None
        {% endif %}

        {% endfor %}
    </div>
{% endblock %}