{% extends 'Du_An/layout.html' %}
{% load static %}

{% block title %}New student {% endblock %}

{% block style %} <link href="{% static 'Du_An/css/profile.css' %}" rel="stylesheet">{% endblock %}

{% block body %}

      <div class="display">
        {% if error %}
        <div class="errorDisplay">
            <h1 class="error"> {{ error }} </h1>
            <p class="error_message"> {{ error_message }} </p>
        </div>
        {% endif %}
        <form action="{% url 'create_student' %}" method="post" class="text-center" id="createStudentForm">
            {% csrf_token %}
            <h1 class="form_header">Thêm hồ sơ học sinh mới</h1>
            <input type="text" name="full_name" placeholder="Họ và tên" class="form-control w-auto mx-auto mb-3" autocomplete="off" autofocus>
            <h4 class="form_header">Lớp</h4>
            <select name="class" id="classSelect" class="form-select w-auto mx-auto mb-3">
                {% for class in classes %}
                    <option value="{{ class.id }}">{{ class.name }}</option>
                {% empty %}
                    <option selected disabled>Chua co lop</option>
                {% endfor %}
            </select>
            <h4 class="form_header">Ngày sinh</h4>
            <input type="date" class="form-control w-auto mx-auto mb-3" name="birthday" placeholder="YYYY/MM/DD" min="1920-01-01" max="2120-12-31">
            <div class="mb-3">
                <input type="radio" value="boy" name="gender" id="boy">
                <label for="boy">Nam</label>
                <input type="radio" value="girl" name="gender" id="girl">
            <label for="girl">Nữ</label>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Chức vụ</label>
                <select name="role" id="role" class="form-select w-auto mx-auto">
                    <option value="monitor">Lớp trưởng</option>
                    <option value="academic">Lớp phó học tập</option>
                    <option value="art">Lớp phó văn thể mỹ</option>
                    <option value="labor">Lớp phó lao động</option>
                    <option value="student">Học sinh</option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary mx-auto">Tạo</button>
        </form>
    </div>
{% endblock %}