{% extends 'Du_An/layout.html' %}
{% load static %}

{% block title %}New student {% endblock %}

{% block style %} <link href="{% static 'Du_An/css/profile.css' %}" rel="stylesheet">{% endblock %}

{% block body %}

      <div class="display">
        {% if error %}
        <div class="errorDisplay">
            <h1 class="error"> {{ error }} </h1>
            <p class="error_message"> {{ error_message }} </p>
        </div>
        {% endif %}
        <form action="{% url 'create_student' %}" method="post">
            {% csrf_token %}
            <h1>Create a new student profile</h1>
            <input type="text" name="full_name" placeholder="Họ và tên" autocomplete="off" autofocus>
            <label for="class">Lớp</label>
            <select name="class" id="class">
                {% for class in classes %}
                    <option value="{{ class.id }}">{{ class.name }}</option>
                {% empty %}
                    <option selected disabled>Chua co lop</option>
                {% endfor %}
            </select>
            <label for="birthday">Ngay sinh</label>
            <input type="date" name="birthday" placeholder="YYYY/MM/DD" min="1920-01-01" max="2120-12-31">
            <input type="radio" value="boy" name="gender" id="boy">
            <label for="boy">Nam</label>
            <input type="radio" value="girl" name="gender" id="girl">
            <label for="girl">Nữ</label>
            <label for="role">Chức vụ</label>
            <select name="role" id="role">
                <option value="monitor">Lớp trưởng</option>
                <option value="academic">Lớp phó học tập</option>
                <option value="art">Lớp phó văn thể mỹ</option>
                <option value="labor">Lớp phó lao động</option>
                <option value="student">Học sinh</option>
            </select>
            <button type="submit" class="btn btn-outline-primary">Create</button>
        </form>
    </div>
{% endblock %}