{% extends 'Du_An/layout.html' %}
{% load static %}
{% load tags %}

{% block style %} <link href="{% static 'Du_An/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}VnAdu{% endblock %}

{% block body %}
    
    {% if user.is_authenticated %}
        {% if user.teacher %}
            <h1> Hello {{ user.teacher.full_name }}</h1>
            <hr>
            <h3>Lớp chủ nhiệm</h3>
            {% if user.teacher.form_class %}
            <div class="formClass">
                <p class="className"> {{ user.teacher.form_class.name }}</p>
                <p class="classStudentCount">Si so{{ user.teacher.form_class.student_count}}</p>
                <div class="classStaffs">
                    <h2>Ban cán sự lớp</h2>
                    {% for staff in user.teacher.get_class_staff_committee %}
                        {% if staff %}
                        <!--** staff here is a Student object -->
                        <p class="classStaffName">Tên: <a href="{% url 'view_student' staff.id %}" class="link-info link-offset-2 link-opacity-75-hover"> {{ staff.full_name }} </a> </p>
                        <p class="classStaffRole">{{ staff.role }}</p>
                        {% endif %}
                    {% empty %}
                    Lớp  chưa có ban cán sự
                    {% endfor %}
                </div>
                <a href="{% url 'view_class' user.teacher.form_class.id %}" class="btn btn-outline-primary"> Details </a>
            </div>
            {% else %}
            Chưa có lớp chủ nhiệm. <a href="{% url 'classes' %}" class="link-info link-offset-2 link-opacity-75-hover">Xem danh sách các lớp</a>
            {% endif %}
            <hr>
            <h3>Lớp bộ môn</h3>
            <div class="classes">
                {% for classroom in user.teacher.teaching_classes.all %}
                <div class="mb-3"> <!--** margin bottom 3-->
                    <p class="className"> {{ classroom.classroom.name }} </p>
                    <p class="classStudentCount"> {{ classroom.classroom.student_count }}</p>
                    <p class="classFormTeacher">Form teacher: <a class="link-info link-offset-2 link-underline-light link-opacity-75-hover"> {{ classroom.classroom.form_teacher.full_name }}</a></p>
                    <p class="classMonitor">Lop Truong: {% autoescape off %} {% get_student_page_link classroom.classroom 'monitor' 'link-info link-offset-2 link-opacity-75-hover' %} {% endautoescape %} </p>
                    <!--TODO: Add more role for classes-->
                </div>
                {% empty %}
                Chưa có lớp bộ môn
                {% endfor %}
            </div>
        {% elif user.parent %}
            <h1> Hello {{ user.parent.full_name }} </h1>
            <h2>children</h2>
            <hr>
            <div class="children-view"></div>
                {% for child in user.parent.children.all %}
                    <div class="child-div">
                        <h2>Name: {{ child.full_name }}</h2>
                        <h3>Class: {{ child.classroom.name }}</h3>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
