{% extends 'Du_An/layout.html' %}
{% load static %}

{% block title %}login {% endblock %}
{% block style %} <link href="{% static 'Du_An/css/login.css' %}" rel="stylesheet"> {% endblock %}

{% block body %}
    <div class="login">
        <div class="error_message">
            <h3 class="error">{{ error}}</h3>
            <p class="error_message"> {{ error_message }} </p>
        </div>
        
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input name="email" type="email" id="email" required>
            <input type="password" name="password" placeholder="Mật khẩu" required>

            <p class="roleSelectLabel">Bạn Là?</p>
            <select name="role" required>
                <option selected disabled>Giáo Viên/Phụ Huynh</option>
                <option value="teacher">Giáo Viên</option>
                <option value="parent">Phụ Huynh</option>
            </select>
            <button type="submit">Đăng Nhập</button>
        </form>
    </div>
{% endblock %}
