{% extends 'Du_An/layout.html' %}
{% load static %}

{% block title %}login {% endblock %}
{% block style %} <link href="{% static 'Du_An/css/login.css' %}" rel="stylesheet"> {% endblock %}

{% block body %}
    <div class="login">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label for="username">Họ và tên:</label>
            <input name="username" type="text" id="username" required>
            <input type="password" name="password" placeholder="Mật khẩu" required>

            <p class="roleSelectLabel">Bạn là?</p>
            <select name="role" required>
                <option selected disabled>Giáo viên/phụ huynh</option>
                <option value="teacher">Giáo viên</option>
                <option value="parent">Phụ huynh</option>
            </select>
            <button type="submit">Đăng nhập</button>
        </form>
    </div>
{% endblock %}
