{% extends 'Du_An/layout.html' %}
{% load static %}

{% block title %}login {% endblock %}
{% block style %} <link href="{% static 'Du_An/css/register.css' %}" rel="stylesheet"> {% endblock %}

{% block body %}
    <div class="login">
        {% if error %}
            <div class="errorDisplay">
                <h3 class="error">{{ error}}</h3>
                <p class="error_message"> {{ error_message }} </p>
            </div>
        {% endif %}
        
        <form action="{% url 'login' %}" method="post" class="">
            {% csrf_token %}
            <label for="email">Email</label>
            <input name="email" type="email" id="email" class="form-control mx-auto mb-3" placeholder="Email" required><br>
            <label for="password">Mật Khẩu</label>
            <input type="password" name="password" class="form-control mx-auto" placeholder="Mật khẩu" id="password" required><br>

            <label for="loginRoleSelect">Bạn Là?</p>
            <select name="role" class="form-select mb-3" id="loginRoleSelect" required>
                <option selected disabled>Giáo Viên/Phụ Huynh</option>
                <option value="teacher">Giáo Viên</option>
                <option value="parent">Phụ Huynh</option>
            </select><br>

            <button type="submit" class="btn btn-outline-primary">Đăng Nhập</button>
        </form>
    </div>
{% endblock %}
