{% extends 'Du_An/layout.html' %}
{% load static tags %}

{% block title %} {{ parent.name }} {% endblock %}

{% block style %} <link href="{% static 'Du_An/css/profile.css' %}" rel="stylesheet"> {% endblock %}
{% block script %}<script src="{% static 'Du_An/js/profile.js' %}"></script> {% endblock %}


{% block body %}
    <div class="parentInfo">
        <div class="basicInfo">
            <h2 class="parentName Name"> {{ parent.full_name }} </h2>
            <div class="children">
                <h2>Các con</h2>
                {% for child in parent.children.all %}
                    <div class="child">
                        <h3>{{ child.full_name }}</h3>
                        <p>Ngày sinh: {{ child.birthday }} </p>
                        <!--* child.get_profile.classroom is a 'ClassYearProfile' instance -->
                        <p>Lớp: <a href="{% url 'view_class' child.get_profile.classroom.classroom.id %}" class="link-info link-offset-2 link-opacity-75-hover"> {{ child.get_profile.classroom.classroom.name }} </a> </p>
                        <p>Chức vụ:  {% get_role_name child.get_profile.role %} </p>
                        <p> {% if child.is_boy %}Nam {% else %} Nữ {% endif %} </p>
                        <a href="{% url 'view_student' child.id %}" class="btn btn-primary">Thông tin chi tiết</a>
                    </div>
                {% endfor %}
            </div>
            <label for="contactInfo">Thông tin liên lạc</label>
            <textarea class="form-control mb-3" readonly id="Thông tin liên lạc"> {{ parent.contact_information }}</textarea>
        </div>
    </div>
{% endblock %}