{% extends 'Du_An/layout.html' %}
{% load static %}

{% block title %} {{ parent.name }} {% endblock %}

{% block style %} <link href="{% static 'Du_An/css/profile.css' %}" rel="stylesheet"> {% endblock %}
{% block script %}<script src="{% static 'Du_An/js/profile.js' %}"></script> {% endblock %}


{% block body %}
    <div class="parentInfo">
        <div class="basicInfo">
            <p class="parentName Name"> {{ parent.full_name }} </p>
            <div class="children">
                <h1>Các con</h1>
                {% for child in parent.children.all %}
                    <div class="child">
                        <h3>{{ child.full_name }}</h3>
                        <p>Ngày sinh: {{ child.birthday }} </p>
                        <p>Lớp: <a href="{% url 'view_class' child.classroom.id %}" class="link-info link-offset-2 link-opacity-75-hover"> {{ child.classroom.name }} </a> </p>
                        <p>Chức vụ:  {{ child.role }} </p>
                        <p> {% if child.is_boy %}Nam {% else %} Nữ {% endif %} </p>
                        <a href="{% url 'view_student' child.id %}" class="btn btn-primary">Thông tin chi tiết</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!--TODO-->
    </div>
{% endblock %}