{% extends 'Du_An/layout.html' %}
{% load static %}

{% block title %}Đăng kí {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'Du_An/css/index.css' %}"> {% endblock %}
{% block script %} <script src="{% static 'Du_An/js/register.js' %}" type="module"></script>{% endblock %}

{% block body %}
    <!--Add JS so teacher or parent can choose their children or classes -->
    <div class="register">
        <div class="error_message">
            <h3 class="error">{{ error }}</h3>
            <p class="error_message"> {{ error_message }} </p>
        </div>

        <form action="{% url 'register' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3 inputDiv">
                <label for="username" class="form-label">Họ và tên</label>
                <input type="text" name="full_name" autocomplete="off" name="username" class="form-control mx-auto" required>
                <div class="invalid-feedback">
                    Xin hãy nhập họ và tên
                </div>
            </div>

            <div class="mb-3 inputDiv">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" class="form-control mx-auto" required>
                <div class="invalid-feedback">
                    Xin hãy nhập email
                </div>
            </div>

            <div class="mb-3 inputDiv">
                <label for="password" class="form-label">Mật Khẩu</label>
                <input type="password" name="password" id="password" class="form-control mx-auto" required>
                <div class="invalid-feedback">
                    Xin hãy nhập mật khẩu
                </div>
            </div>

            <h3 id="type_label">Bạn là?</h3>
            <div class="roleSelect">
                <div class="mb-3">
                    <input type="radio" name="user_type" class="form-check-input" value="teacher" id="teacher">
                    <label for="teacher" class="form-check-label">Giáo viên</label>
                </div>
                <div class="mb-3">
                    <input type="radio" name="user_type" value="parent" class="form-check-input" id="parent">
                    <label for="parent" class="form-check-label">Phụ huynh</label>
                </div>
            </div>

            <div id="for_teacher" class="mb-3">
                <h3>Chọn môn học đang dạy (chỉ dành cho giáo viên)</h3>
                <!--TODO-->
                <div>
                    <select name="subjects[]" class="form-select mb-3" size="5" multiple required>
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                        Xin chọn ít nhất 1 môn học
                    </div>
                </div>

                <label for="form_class_select">Chọn lớp chủ nhiệm (nếu có)</label>
                <select name="form_class" class="form-select" id="form_class_select">
                    <option selected disabled >Lớp chủ nhiệm</option>
                    {% for class in classes %}
                        <option value="{{ class.id }}"> {{ class.name }} </option>
                    {% endfor %}
                </select>
            </div>

            <div id="for_parent" class="mb-3">
                <!--TODO-->

                <h3>Chọn con của bạn (chỉ dành cho phụ huynh)</h3>
                <div id="childrenSearch" class="mb-3">
                    <div id="searchFormMessage"></div>

                    <h3>Tìm con</h3>
                    <input type="text" class="form-control mx-auto mb-3" id="childrenName" placeholder="Nhập tên con để tìm">

                    <select id="childrenClassroom" class="form-select mb-3" size="5">
                        <option selected disabled value="">Chọn lớp của con (Không bắt buộc)</option>
                        {% for classroom in classes %}
                            <option value="{{ classroom.id }}"> {{ classroom.name }} </option>
                        {% endfor %}
                    </select>

                    <button id="childrenSearchSubmit" type="button" class="btn btn-primary">Tìm kiếm</button> <!---i type="button" to avoid keep the form from submitting when this button is clicked-->
                </div>

                <select name="children[]" id="childrenSelect" class="form-select" multiple>
                    <option disabled>Tìm kiếm con để chọn</option>
                </select>

            </div>

            <label for="contact_info" class="form-label">Thông tin liên lạc (Không bắt buộc) </label>
            <textarea name="contact_info" id="contact_info" class="form-control mb-3" cols="5" rows="10" placeholder="Thông tin liên lạc của bạn (sđt, facebook, zalo,...)"></textarea>
            <button type="submit" class="btn btn-danger mx-auto me-auto mb-4">Đăng kí</button>
        </form>
    </div>
{% endblock %}