{% extends 'Du_An/layout.html' %}
{% load static %}

{% block title %}Đăng kí {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'Du_An/css/index.css' %}"> {% endblock %}
{% block script %} <script src="{% static 'Du_An/js/register.js' %}"></script>{% endblock %}

{% block body %}
    <!--Add JS so teacher or parent can choose their children or classes -->
    <div class="register">
        <div class="error_message">
            <h3 class="error">{{ error }}</h3>
            <p class="error_message"> {{ error_message }} </p>
        </div>

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <label for="username">Họ và tên</label>
            <input type="text" name="full_name" autocomplete="off" name="username">
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            <label for="password">Mật Khẩu</label>
            <input type="password" name="password" id="password">

            <h3 id="type_label">Bạn là?</h3>
            <div class="roleSelect">
            <input type="radio" name="user_type" value="teacher" id="teacher">
            <label for="teacher">Giáo viên</label>
            <input type="radio" name="user_type" value="parent" id="parent">
            <label for="parent">Phụ huynh</label>
            </div>

            <div id="for_teacher">
                <h3>Chọn môn học đang dạy (chỉ dành cho giáo viên)</h3>
                <!--TODO-->
                <select name="subjects[]" multiple>
                    {% for subject in subjects %}
                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="form_class_select">Chọn lớp chủ nhiệm (nếu có)</label>
            <select name="form_class" id="form_class_select">
                <option selected disabled >Lớp chủ nhiệm</option>
                {% for class in classes %}
                    <option value="{{ class.id }}"> {{ class.name }} </option>
                {% endfor %}
            </select>

            <div id="for_parent">
                <!--TODO-->
                <h3>Chọn con của bạn (chỉ dành cho phụ huynh)</h3>
                <select name="children[]" multiple>
                    {% for child in children %}
                    <option value="{{ child.id }}"> {{ child.name }} | {{ child.classroom.name }} </option>
                    {% endfor %}
                </select>
            </div>
            <label for="contact_info">Thông tin liên lạc (Không bắt buộc) </label>
            <textarea name="contact_info" id="contact_info" cols="20" rows="10" placeholder="Thông tin liên lạc của bạn (sđt, facebook, zalo,...)"></textarea>
            <button type="submit" class="btn btn-primary mx-auto me-auto mb-4">Đăng kí</button>
        </form>
    </div>
{% endblock %}