<!--TODO: fix this-->
{% extends 'Du_An/layout.html' %}
{% load static %}
{% load tags %}

{% block title %}{{ student.full_name }}{% endblock %}
<!--* Replace if you wish-->
{% block style %}<link href="{% static 'Du_An/css/profile.css' %}" rel="stylesheet">{% endblock %}
{% block script %} <script src="{% static 'Du_An/js/profile.js' %}" type="module"></script> {% endblock %}

{% block body %}
    <div id="studentProfile" data-student-id="{{ student.id }}">
        <!--* Display the basic information -->
        <div class="basicInfo">
            <!---I student is a 'Student' instance -->
            <!---I student_profile is a 'studentYearProfile' instance -->
            <!---I student_profile.classroom is a 'ClassYearProfile' instance -->
            <h2 class="studentName"> {{ student.full_name }} </h2>
            <p class="studentClass">Lớp: <a href="{% url 'view_class' student_profile.classroom.classroom.id %}" class="link-info link-offset-2 link-opacity-75-hover">{{ student_profile.classroom.classroom.name }}</a></p>
            <p class="studentGender">Giới tính: {% if student.is_boy %} Nam {% else %} Nữ {% endif %}</p>
            <p class="studentRole">Chức vụ: {% get_role_name student_profile.role %}</p>
            <p class="studentParent">
                Phụ huynh: 
                {% for parent in student.parent.all %}
                <!--TODO: replace the href (to the parent's page)-->
                    <a href="{% url 'view_parent' parent.id %}" class="link-info link-offset-2 link-underline-dark link-opacity-75-hover"> {{ parent.full_name }}</a>,
                {% empty %}
                    Học sinh này chưa có phụ huynh nào nhận
                {% endfor %}
            </p>
        </div>
        <!--* show student's marks -->
        <div class="studentMark">
            <!--TODO: Do this-->
            <select id="yearSelect" class="form-select w-auto mb-3 mt-3">
                <option value="2024">2024-2025</option>
            </select>
            <select id="subjects_select" class="form-select me-auto w-auto">
                <!--** Default subject is Toán -->
                <option selected disabled>Môn học</option>
                {% for subject in subjects %}
                <option value="{{ subject.id }}"> {{ subject.name }} </option>
                {% endfor %}
            </select>
            <div class="subjectMark mb-3 me-auto">
                <div id="displayMarkMessage"></div>
                    <h2>Bang diem</h2>
                <!--TODO: add JS-->
                <div id="markDisplay">
                    Chon mon de xem diem
                </div>
                <!--TODO: fix this-->
            {% if user.teacher in student.get_profile.classroom.get_teachers %}
                <div class="updateMarkDiv">
                    <div id="updateMarkMessage"></div>

                    <form id="updateMarkForm">
                        <!--* teacher will select the subject that they want to update-->
                        <div class="selectors mb-3">
                            <select id="updateMarkSubjectSelect" class="form-select mb-3 w-50 me-auto">
                                <option selected disabled>Chọn môn muốn nhập điểm</option>
                                {% autoescape off %}
                                {% get_teacher_subject_options student.get_profile.classroom user.teacher %}
                                {% endautoescape %}
                            </select>
                            <!--*Select semester -->
                            <select id="semester">
                                <option value="1" selected>Kì 1</option>
                                <option value="2"> Kì 2</option>
                            </select>
                            <!--* Select mark type-->
                            <select id="markType">
                                <!--TODO: Update so only display possible type-->
                                <option selected disabled value="">Chọn cột điểm</option>
                                <option value="tx1">Thường xuyên 1</option>
                                <option value="tx2">Thường xuyên 2</option>
                                <option value="tx3">Thường xuyên 3</option>
                                <option value="tx4">Thường xuyên 4</option>
                                <option value="gk">Giữa Kì</option>
                                <option value="ck">Cuối kì</option>
                            </select>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="number" id="new_mark" class="form-control me-auto w-50" placeholder="Điểm" step="0.01" max="10" min="0">
                            <label for="new_mark">Điểm</label>
                        </div>

                        <button type="submit" class="btn btn-primary">Cập nhập điểm cho học sinh</button>
                    </form>
                </div>
                {% endif %}
        </div>
    </div>
{% endblock %}