{% extends 'Du_An/layout.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'Du_An/css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'Du_An/js/profile.js' %}" type="module"></script>
{% endblock %}

{% block body %}
    <!--TODO: Create a html tempate to show user's profile -->
    <div class="teacher">
        <!--* Cai div nay se hien thi thong tin cua giao vien-->
        <div class="teacherInfo">
            <!--* basic info la ten , day mon gi, thong tin lien lac(std, zalo, fb,...) -->
            <div class="basicInfo">
                <p class="teacherName"> {{ teacher.full_name }}</p>
                <div class="teacherSubject">
                    Dạy các môn:
                    {% for subject in teacher.subject.all %}
                        <p> {{ subject.name }} </p>
                    {% endfor %}
                </div>
                <!--* hien thi thong tin lien lac -->
                <label for="contactInfo" class="form-label">Thông tin liên lạc</label>
                <textarea class="teacherContactInfo" class="form-control" id="contactInfo" readonly> {{ teacher.contact_information }}</textarea>
                <!--* hien thi lop chu nhiem -->
                {% if teacher.form_class %}
                    <!--* teacher.form_class is a 'ClassYearProfile' instance -->
                    <a class="btn btn-outline-info" href="{% url 'view_class' teacher.form_class.classroom.id %}"><p class="teacherFormClass">Lớp chủ nhiệm: {{ teacher.form_class.classroom.name }} </p></a>
                {% else %}
                    <h3>Chưa có lớp chủ nhiệm</h3>
                {% endif %}
                <!--* hien thi danh sách các lớp đang dạy (bộ môn) -->
                <div class="teacherTeachingClass">
                    <!---i classroom here is a dict contains 'classroom' is the 'Class' and 'profile' is the 'ClassYearProfile'-->
                    {% for classroom in teacher.get_teaching_classes %}
                        <!--TODO: replace the href (to the class's profile )-->
                        <a class="link-secondary link-offset-2 link-opacity-75-hover" href="{% url 'view_class' classroom.classroom.id %}"> {{ classroom.classroom.name }}</a>
                    {% empty %}
                    This teacher doesn't teach any class.
                    {% endfor %}
                </div>
            </div>
            <!--** them cac thong tin khac -->
            <div class="otherInfo">
                <!--TODO-->
            </div>
            
        </div>
    </div>
{% endblock %}