{% extends 'Du_An/layout.html' %}
{% load static %}

{% block style %} <link href="{% static 'Du_An/css/welcome.css' %}" rel="stylesheet"> {% endblock %}
{% block body %}

<div class="container">
    <img src="{% static 'Du_An/images/welcomePageBG.jpg' %}" alt="background-image" id="background-image">
    <div id="welcome-content">
        <div class="main-description">
            <p class="description">Nhanh Chóng </p>
            <p class="marks">Dễ Dàng </p>
            <p class="description">Tiện Lợi</p>
        </div>

        <div class="links">
            <a href="{% url 'register' %}" class="btn btn-primary">Đăng ký</a>
            <a href="{% url 'login' %}" class="btn btn-primary">Đăng nhập</a>
            {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="btn btn-primary">Trang chủ</a>
            {% endif %}
        </div>
    </div>
</div>   
<footer class="welcome-footer">
    <img class="iconbb" src="{% static 'Du_An/images/webIcon.png'  %}" alt="bottombar">
    <p class="cre">Presented By Phước Hòa Student</p>
</footer>
{% endblock %}