body
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(33, 37, 41);
    height: 100%;
    color: rgb(154, 195, 235);
}


.invalid-feedback
{
    background-color: rgba(59, 57, 57, 0.8);
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

form
{
    margin: auto;
    text-align: center;
    padding: 3rem;
    background-color: rgba(167, 167, 167, 0.24);
    border: 1px solid grey;
    border-radius: 12px;
    box-shadow: 8px 8px 10px rgb(59, 59, 59);
    height: fit-content;
    background-color: rgb(98, 190, 252);
    width: fit-content;
    margin-bottom: 5rem;
    margin-top: 10px;
}


form > input, select
{
    max-width: 400px;
    margin: auto;
    caret-color: rgb(0, 238, 255); /* * color of the '|' */
}


.inputDiv
{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


label
{
    font-weight: 500;
    font-size: 18px;
    color: black;
}


form > textarea
{
    max-height: 300px;
}

#childrenSearch
{
    padding: 10px 20px;
    background-color: rgba(58, 198, 253, 0.842);
    border: 1px solid rgb(33, 33, 243);
    box-shadow: 2px 2px 5px rgb(34, 30, 255);
    color: #fff;
    transition: 0.75s ease;
    margin-bottom: 20px;
}


#childrenSearch:hover
{
    box-shadow: 8px 8px 10px rgb(34, 30, 255);
}


.roleSelect
{
    display: block;
}

.errorDisplay{
    background-color: red;
    text-align: center;
    border: 5px solid;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 7px;
    color: black;
    margin-left: 5rem;
    margin-right: 5rem;
}

.error_message{
    font-size: 25px;
    font-style: italic;
    color: black;
}

.classes
{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}


.class
{
    border: 3px solid;
    border-radius: 8px;
    margin-bottom: 3rem;
    text-align: center;
    padding: 10px 20px;
    backdrop-filter: blur(3px);
}



.classeslist
{
    border: 3px solid;
    border-radius: 8px;
    margin-bottom: 3rem;
    text-align: center;
    padding: 10px 20px;
    backdrop-filter: blur(3px);
}

.class_student_count
{
    font-weight: bold;
    font-size: 20px;
}


.class_name
{
    font-weight: bold;
    font-size: 2rem;
}


.formTeacher
{
    font-weight: bold;
    font-size: 1rem;
}


.monitor
{
    font-weight: bold;
    font-size: 1rem;
}
.teachers{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-weight: bold;
}
.teacherslist
{
    border: 3px solid;
    border-radius: 8px;
    margin-bottom: 3rem;
    text-align: center;
    padding: 10px 20px;
    font-weight: 700;
    backdrop-filter: blur(3px);

}


.teacher{
    border: 3px solid;
    border-radius: 8px;
    margin-bottom: 3rem;
    text-align: center;
    padding: 10px 20px;
    font-weight: 10px bold;
    backdrop-filter: blur(5px);
}

.teacherSubjects{
    font-weight: bold;
}

.detailsBtn{
    color: rgb(244, 197, 198);
    background-color: rgb(177, 31, 34);
    transition: 150ms ease;
}


.detailsBtn:hover 
{
    background-color: rgb(177, 31, 34);
}


.teacherslist{
    text-align: center;
    border: solid;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.classeslist{
    text-align: center;
    border: solid;
    border-radius: 10px;
    margin-bottom: 1rem;
    backdrop-filter: blur(5px);
}


#for_teacher, #for_parent
{
    max-height: 0;
    opacity: 0;
    pointer-events: none; /* Avoid preventing user interact with other elements when hidden */
    transition: 0.8s max-height ease-in-out, 500ms opacity ease;
}


#for_teacher.show, #for_parent.show {
    max-height: 100rem;
    opacity: 1;
    pointer-events: auto;
}