body
{
    margin: 0;
}

form
{
    text-align: center;
}


form > input, select
{
    max-width: 400px;
    margin: auto;
}


.inputDiv
{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


label
{
    font-weight: 500;
    font-size: 18px;
    
}


form > textarea
{
    max-height: 300px;
}


.roleSelect
{
    display: block;
}
