body
{
    margin: 0;
    background-image: url(../images/BGRegister.jpg);
}

form
{
    margin: auto;
    text-align: center;
    padding: 3rem;
    background-color: rgba(167, 167, 167, 0.24);
    border: 1px solid grey;
    border-radius: 12px;
    box-shadow: 8px 8px 10px rgb(59, 59, 59);
    height: fit-content;
    background-color: rgb(238, 96, 96);
    width: fit-content;
    margin-bottom: 5rem;
    margin-top: 10px;
}


form > input, select
{
    max-width: 400px;
    margin: auto;
}


.inputDiv
{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


label
{
    font-weight: 500;
    font-size: 18px;
    
}


form > textarea
{
    max-height: 300px;
}


.roleSelect
{
    display: block;
}
.errorDisplay{
    background-color: rgb(255, 0, 0, 0.616);
    text-align: center;
    border: 5px solid;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 7px;
}
.error_message{
    font-size: 25px;
    font-style: italic;
}