.teaching_classes
{
    margin: 5px;
}


.teaching_classes > .classroom
{
    position: relative;
    margin-bottom: 1rem;
    z-index: 1;
}


.classroom_info
{
    display: flex;
    column-gap: max(70%, 2rem);
    background-color: rgb(248, 217, 158);
    padding: 1rem 2rem;
    transition: 0.5s box-shadow ease-in-out;
}


.classroom_info.show-shadow
{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}


.classroomHeaders
{
    display: flex;
    column-gap: 1rem;
}


.classroom_info > a
{
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}


.classroom_name
{
    font-size: 30px;
    font-style: oblique;
    font-weight: 700;
    margin-bottom: 5px;
}

.student_list
{
    
    /*-i default for student lists is none (in HTML)*/
    position: relative;
    max-height: 0;
    opacity: 0;
    margin-left: max(10%, 2rem);
    margin-right: max(10%, 2rem);
    background-color: aliceblue;
    padding: 10px 20px;
    overflow: hidden;
    transition: 800ms max-height ease-in-out, 0.5s opacity ease-in-out;
    z-index: -1;
}


.student_list.show
{
    opacity: 1;
    max-height: 100rem; 
}


.showStudentBtn
{
    margin: auto;
    background-color: transparent;
    border: none;
    height: fit-content;
    padding: 5px;
}