@import url("./keyframes.css");

body
{
    background-color: rgb(33, 37, 41);
    /*color: rgb(255, 255, 255);*/
    --bs-secondary-color: #b9b7b7;
}

.teaching_classes
{
    margin: 5px;
}


.teaching_classes > .classroom
{
    position: relative;
    margin-bottom: 1rem;
    z-index: 1;
}


.classroom_info
{
    display: flex;
    column-gap: max(calc(65% - 154px), 2.5rem); /** 154px is the width of the button */
    height: fit-content;
    background-color: rgb(128, 196, 241);
    padding: 1rem 2rem;
    transition: 0.5s box-shadow ease-in-out;
}



.classroom_info.show-shadow
{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}


.classroomHeaders
{
    display: flex;
    column-gap: 1rem;
    height: fit-content;
    align-items: center;
}


.classroomHeaders > .teaching_subjects
{
    width: max-content;
    text-wrap: wrap;
    margin: 0;
    height: fit-content;
    background-color: rgba(224, 35, 35, 0.7);
    padding: 10px;
    border-radius: 12px;
}


.classroom_info > a
{
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}


.classroom_name
{
    font-size: 30px;
    font-style: oblique;
    font-weight: 700;
    margin-bottom: 5px;
    height: fit-content;
}

.student_list
{
    /*-i default for student lists is none (in HTML)*/
    position: relative;
    max-height: 0;
    opacity: 0;
    margin-left: max(10%, 2rem);
    margin-right: max(10%, 2rem);
    background-color: aliceblue;
    padding: 10px 20px;
    overflow: hidden;
    transition: 800ms max-height ease-in-out, 0.5s opacity ease-in-out;
    z-index: -1;
}


.student_list.show
{
    opacity: 1;
    max-height: 100rem; 
}


.showStudentBtn
{
    background-color: transparent;
    border: none;
    height: fit-content;
    padding: 5px;
}


.updateMarkForm
{
    position: absolute;
    display: flex;
    background-color: aquamarine;
    max-height: max-content; /** For the smooth animation*/
    flex-direction: column;
    overflow: hidden;
    row-gap: 10px;
    z-index: 1;
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid rgb(194, 180, 180);
    animation: appear 0.8s ease-in-out;
}   