body
{
    font-family: "Oxanium", sans-serif;
    background-color: rgb(33, 37, 41);
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#background-image
{
    flex: 1; /* Để phần hình ảnh tự động chiếm không gian */
    max-width: 50vw; /* Đặt chiều rộng tối đa là 50% viewport */
    display: flex;
    justify-content: center;
    border: solid rgb(33, 37, 41);
    margin-bottom: max(25%, 2rem);
    border-radius: 20px;
}


.marks
{
    color: red;
    margin: 0.5rem 0;
}


#welcome-content
{
    font-family: "Oxanium", sans-serif;
    color: white;
    flex: 1;
    margin-bottom: max(25%, 1.5rem);
}


.main-description
{    
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: max(10%, 1.5rem);
}


.small-description
{
    background-color: black;
    border-radius: 20px;
    text-wrap: wrap;
    padding: 2rem;
}


.description
{
    color: white;
} 


.marks
{
    color: red;
}


.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    max-height: 80vh; /* Chiều cao toàn bộ màn hình */
    column-gap: 20px;
    padding-bottom: 1rem;
    padding-top: max(15%, 2rem);
}


.links
{ 
    display: flex;
    height: fit-content;
    column-gap: 1rem;
}


.links > a 
{
    width: 7rem;
    max-height: max-content;
}


.welcome-footer
{
    position: absolute;
    padding: 1rem;
    height: max(14%, 5rem);
    width: 100%;
    color: #fff;
    top: 100%;
    margin: 0;
    background-color: black;
    transform: translate(0, -100%); 
    margin-bottom: 15px;
}

.cre
{
    display: inline;
    font-size: 2rem;
    font-weight: bold;
}

.iconbb
{
    max-height: 100%;
    max-width: max(45%, 5rem);
}